@charset "UTF-8";
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
html,body{width:100%;height:100%}
img,fieldset{border:0;}
em.address{font-style:normal;}
a{text-decoration:none;}
a:hover,a:active,a:focus{text-decoration:underline;}



.container-fluid{
	padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto;

}
.container { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }
.rowFont{  font-size: 18px;}
.wrap{
	width: 1000px;
	margin: 0 auto;
	font-family: 'Nanum Gothic',sans-serif;
	
}
.wrap h1{
	padding: 15px 0 10px;
	border-bottom: 1px solid #aaa;
}
.fixed_img_col ul {

	
}


.fixed_img_col li {

}
img {
	
	object-fit: cover;
}