@charset "UTF-8";
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
html,body{width:100%;height:100%}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:'돋음',Dotum,AppleGothic,sens-serif;font-size:25   px;}
img,fieldset{border:0;}
ul,ol{list-style:none;}
em.address{font-style:normal;}
a{text-decoration:none;}
a:hover,a:active,a:focus{text-decoration:underline;}
.wrap{
   width: 1000px;
   margin: 0 auto;
   font-family: 'Nanum Gothic',sans-serif;
   
}
.wrap h1{
   padding: 15px 0 10px;
   border-bottom: 1px solid #aaa;
}
.fixed_img_col ul {
   border-bottom: 1px solid #aaa;
   
}
.fixed_img_col ul li {
   list-style-type:none;
   display: inline-block;
   outline: 2px dotted red;
   margin-left: 30px;
}

.fixed_img_col li {
   width: 120px;
   height: 180px;
   padding: 1px 10px;
   border-bottom: 1px solid #aaa;
}

#img1 {
   width: 150px;
   height: 150px;
   object-fit: cover;
}