@charset "UTF-8";

input[type=text] {
    border : 2px solid skyblue;
    border-radius : 5px;
}
input[type=text]:hover {
    background : aliceblue;
}
input[type=password] {
    border : 2px solid skyblue;
    border-radius : 5px;
}
input[type=password]:hover {
    background : aliceblue;
}
._s1t1w0m{
	margin: 0px !important;
    word-wrap: break-word !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 24px !important;
    font-weight: 800 !important;
    line-height: 1.25em !important;
    color: #484848 !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}
._s1t1w0{
	margin: 0px !important;
    word-wrap: break-word !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 17px !important;
    font-weight: 800 !important;
    line-height: 1.25em !important;
    color: #484848 !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}
